---
layout: default
permalink: /work/
---
		<header id="fh5co-header" role="banner">
			<div class="container text-center">
				{% include header-logo.html %}
				<nav>
					<ul>
						<li><a href="/about/">About</a></li>
						<li class="active"><a href="/work/">Work</a></li>
						<li><a href="/contact/">Contact</a></li>
						<li><a href="#">Instagram</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- END #fh5co-header -->
		
		<!-- Gallery Images -->
		{% include gallery.html %}
		<!-- End Gallery Images -->